/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/**
====================================
Top Section Styles
**/

body {
    font-family: 'Lato', sans-serif;
}

.top-section {
    background-color: #31D9E8;
    padding: 20px 0;
}

.top-right-content {
    color: #fff;
}

.top-right-content {
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin-top: 46px;
    padding: 30px;
    width:470px
}
.main-title h2 {
    font-size: 66px;
}

.top-left-img {
    text-align: right;
}

/**
================================
Responsive for Top Left Image
**/
@media (max-width: 991px) {
    .top-left-img {
        text-align: center;
    }
   
}

.top-left-img.navbar-right img {
    height: auto;
    width: 100%;
}

.sub-title h3 {
    font-size: 26px;
    text-transform: uppercase;
}

.top-content p {
    font-size: 18px;
    font-style: italic;
    margin: 20px 0 50px;
}

.apple-badge-button {
	border-radius: 12px;
	transition: none 0.5s ease 0s;
	display: inline-block;
	border: 1px solid #2CC3D0;
	padding: 4px;
	box-shadow: 0px 6px 0px #2CC3D0;
}

.apple-badge-button:hover {
	box-shadow: 0 3px 0px #2CC3D0;
    transform: translateY(4px);
}

.arrow-image img {
    margin-top: 40px;
}



/**
======================================
Middle Section Styles
**/

.middle-sction {
    background: #e6a2e1 none repeat scroll 0 0;
    padding: 0 0 30px;
}

.middle-section-width {
    margin: auto;
    width: 80%;
}

.middle-image-title {
    text-align: center;
}

.middle-image-title h2 {
    color: #fff;
}

.middle-image-title span img {
    margin-left: 436px;
    margin-top: -122px;
}

.row.all-single-images {
    padding-top: 20px;
}

.single-images {
    border: 8px solid transparent;
    border-radius: 50%;
    transition: all 0.6s ease-in-out 0s;
}

.single-images:hover {
	border: 8px solid transparent;
	box-shadow: 0px 0px 0px 112px rgba(255, 255, 255, .5) inset, 0px 0px 0px 10px #fff, 0px 1px 2px #FFF;
}

.single-images a img {
    width: 100%;
    height: auto;
    transition: all 0.6s ease-in-out 0s;
}

.single-images a img:hover {
    opacity: .3;
}
/*
=========================================
Responsive Design for Middle Section
*/
@media (max-width: 991px) {
    .row.all-single-images {
        padding-top: 20px;
        text-align: center;
    }
    
    .single-images {
        width: 40%;
        margin: 8px auto;
    }
    
    .middle-image-title span img {
    margin-left: 0;
    display:none;
}
    .top-right-content{
        text-align: center;
        margin: 0 auto;
    }
    
    
}

@media (max-width: 500px) {
    .top-left-img{ text-align: center !important;}
    .top-left-img img{ width:90%;}
    
    .top-right-content{
        width:auto;
    }
    .sub-title h3{
        font-size: 20px;
    }
}


/*
==========================================
Footer Section Styles
*/
.footer-section {
    background: #31d9e8 none repeat scroll 0 0;
    padding: 30px 0;
}

nav.footer-social-profile ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav.footer-social-profile ul li {
    display: inline;
}

nav.footer-social-profile ul li a {
    display: inline-block;
    margin-right: 15px;
}

.footer-social-profile a {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border-radius: 50%;
    height: 90px;
    padding: 20px;
    width: 90px;
    border: 8px solid transparent;
    transition: all 0.5s ease-in-out 0s;
}

.footer-social-profile ul li a i {
    color: #fff;
    font-size: 30px;
}

.footer-social-profile a:hover {
	border: 8px solid transparent;
	box-shadow: 0px 0px 0px 40px #2CC3D0 inset, 0px 0px 0px 3px #FFF, 0px 0px 0px #FFF;
}

nav.footer-main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav.footer-main-menu ul li {
    display: inline;
}

nav.footer-main-menu ul li a {
    display: inline-block;
    padding: 25px 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    transition: .5s;
}

nav.footer-main-menu ul li:hover a {
    text-decoration: underline;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright > p {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}